
$mdl-blue: #2196F3;
$mdl-alt-blue: #448AFF;
$mdl-light-blue: #64B5F6;
$mdl-accent-blue: #BBDEFB;
$mdl-amber: #FFC107;
$mdl-alt-amber: #FFAB00;
$mdl-light-amber: #FFECB3;
$mdl-teal: #1DE9B6;
$mdl-pink: #E91E63;

$task: #8479FF;
$task-help: #FF5400;
$occasion: #FFC926;
$task-scheduled: #70C3FC;

@mixin embossed-border($color) {
    position: absolute;
    display: block;
    content: "";
    border-bottom: 1px solid $color;
    height: 100%;
    width: 100%;
    box-sizing: border-box;
    bottom: 0;
    left: 0;
}



#app {

    box-sizing: border-box;
    font-size: 16px;

    h1, h2, h3, h4, h5, h6 {
    font-family: "Muli";
    line-height: 1;
    }

    width: 100%;
    height: auto;
    box-sizing: border-box;
    font-family: "Muli", sans-serif;
    padding: 1.5rem;

    .info {
            position: absolute;
            //top: 2.5rem;
            //width: 95%;
    }

    .info > div {

        overflow: hidden;
        text-overflow: ellipsis;
        float: left;

        h3 {
            display: inline-block;
            width: 100%;
            white-space: nowrap;
            padding: 0 0 0 0.5rem;
            margin: 0 0 0.1rem 0;
            text-align: left;
            font-size: 1rem;
            color: black;
            font-family: "Muli";
            font-weight: 400;

                //&.occasion {
                //    border-left: 5px solid $occasion;
                //       background: repeating-linear-gradient(
                //            -45deg,
                //            #FFEFAC,
                //            #FFEFAC 2px,
                //            white 2px,
                //            white 3px
                //
                //    );
                //}

                &.task {
                    border-left: 5px solid $task;
                    background: repeating-linear-gradient(
                            -45deg,
                            #E4E6F2,
                            #E4E6F2 2px,
                            white 2px,
                            white 3px

                    );
                }

                //&.task.help {
                //    border-left: 5px solid $task-help;
                //       background: repeating-linear-gradient(
                //            -45deg,
                //            #FFDFDE,
                //            #FFDFDE 2px,
                //            white 2px,
                //            white 3px
                //
                //    );
                //}
        }
    }

    //.holidays {
    //        position: absolute;
    //        top: 1.0rem;
    //        width: 95%;
    //
    //        h3 {
    //            margin: 0 0 0.1rem 0;
    //            text-align: left;
    //            font-size: 0.6rem;
    //            color: black;
    //            font-family: "Muli";
    //            font-weight: 400;
    //            padding: 0.25rem 0 0.25rem 0.5rem;
    //            border-left: 5px solid $mdl-teal;
    //            background: repeating-linear-gradient(
    //                -45deg,
    //                #CCEDE5,
    //                #CCEDE5 2px,
    //                white 2px,
    //                white 3px
    //
    //            );
    //        }
    //}

    h2 {
    	font-size: 1.2rem;
    	color: #545454;
        font-family: "Muli";
    }

    .view {
    	
        margin-bottom: 2rem;

        .mdl-card {
            width: 100%;
        }
    }

    .cal-top {
        box-shadow: none;
        background-color: #eee;
        border-top: 1px solid #c4c4c4;
        border-bottom: 1px solid #c4c4c4;

        button {
            //margin-top: 1.25rem;

            &.lt-p-btn-md {
                margin-top: 1rem;
            }

            &.lt-sub-btn-md {
                -webkit-appearance: none;
                text-transform: none;
                letter-spacing: 1px;
                line-height: 1.2;
                border: 1px solid #aaaaaa;
                color: #555555;
                padding: 8px 20px;
                background-image: linear-gradient(#ffffff, #eeeeee);
                font-family: "Proxima Nova Regular";
                font-size: 16px;

                border-radius: 0;
                border-right: 0px;

                &:first-child {
                    border-top-left-radius: 4px;
                    border-bottom-left-radius: 4px;
                }

                &:nth-child(3) {
                    border-right: 1px solid #AAA;
                    border-top-right-radius: 4px;
                    border-bottom-right-radius: 4px;
                }

                &.active {
                    background-image: linear-gradient(#555, #555);
                    color: white;
                }

            }
        }

           h6 {
                color: #8A90F2;
                text-decoration: underline;
                margin-left: 1rem;
                margin-top: 0.5rem;
                cursor: pointer;
               font-size: 0.875rem;
               text-transform: none;
               letter-spacing: 1px;
             font-weight: 400;
           }

        .lt-sub-btn-md:hover {
            background-image: linear-gradient(#555, #555);
        }

        .mdl-layout__header-row {
            padding-left: 2rem;
        }
    }

    .display-header {
        color: #545454;
        max-height: 80px;
        padding: 1.5rem 0.5rem;
        margin-left: 20rem;
        .left {
            float: left;
            margin: 2rem 0;
            color: #ccc;
        }

        h2 {
            float: left;
            margin: 2.5rem 2rem;
          font-weight: bolder;
          font-size: 1.5rem;
        }
    }

    .days-header {
      font-weight: bold;
      border: 1px solid #aaaaaa;
      background: #cccccc url(./../images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
      color: #222222;
        padding: 0;
        max-height: 1.58rem;

        &.week {

            div {
              width:100%;
              border-right: 1px solid #aaaaaa;

              div {
                text-align: center;
                font-size: 1.0rem;
                font-weight: 400;
                width: 13%;
                  float: left;

                &.time-zone {
                  width: 8%;

                  border-right: 1px solid #aaaaaa;
                  border-left: 1px solid #aaaaaa;
                  border-bottom: 1px solid #aaaaaa;
                }
              }

            }

        //ul {
        //
        //    padding: 0;
        //    margin: 0 auto;
        //    width: 100%;
        //    display: block;
        //
        //    li {
        //        display: inline-block;
        //        width: 14.28%;
        //        height: auto;
        //        text-align: center;
        //        box-sizing: border-box;
        //        color: #222222;
        //        font-size: 1.0rem;
        //        font-weight: 400;
        //
        //    }
        //
        //    li:last-child {
        //        border-right: none;
        //    }

        }

        h4 {
            display: block;
            margin: 1rem auto;
            font-family: "Muli";
            font-weight: 400;
            color: #777;
        }

    }

  .week-display, .day-display {
        .time-row {
            border-bottom: 1px dotted #ddd;
            height: 1.8rem;
            clear:left;

            //&:last-child {
            //    border-bottom: none;
            //}
            .time {
              float:left;
              height: 1.8rem;
              line-height: 1.8rem;
              width: 8%;
              text-align: right;
              font-size: 1.0rem;
              font-weight: 400;
              border-right: 1px solid #aaaaaa;
              border-left: 1px solid #aaaaaa;
              border-bottom: 1px solid #aaaaaa;
              background: #cccccc url(./../images/ui-bg_highlight-soft_75_cccccc_1x100.png) 50% 50% repeat-x;
              color: #222222;

              span {
                vertical-align: middle;
                padding-right: .5rem
              }
            }

            .slot {
              height: 1.8rem;
              width: 90%;
              padding: 0;
              margin: 0;
              line-height: 1.8rem;
              margin-bottom: -0.25rem;
              float: left;
                //li {
                //  position: relative;
                //  display: inline-block;
                //  height: 1.2rem;
                //  box-sizing: border-box;
                //  border-right: 1px dotted #
                //  width: 13.14%;
                //  overflow: hidden;
                //  padding: 0.05rem 0;

                  //&:last-child {
                  //  border-right: none;
                  //}
              //}
            }

            .week-slot {
              border-right: 1px dotted #ddd;
              border-bottom: 1px dotted #ddd;
              height: 1.8rem;
              width:  13%;
              padding: 0;
              //margin: 0;
              line-height: 1.8rem;
              margin-bottom: -0.25rem;
              float: left;
            }
        }

    }

    .day-display {
    }

    .task-list {
    	border: 1px solid black;
    	width: 23%;
    	float: left;
    	text-align: center;
    	margin-bottom: 1.5rem;

    	.task-list-header {
    		

    		h2 {
    			margin: 0;
    			border-bottom: 1px solid white;
    			background-color: #00B9FF;
    			padding: 0.5rem;

    		}

    	}

    	h3 {
    		margin-left: 1rem;
    	}

    	h3, span.legend {
    		text-align: left;
    		font-size: 0.875rem;
		    color: #919092;
		    margin: 0.5rem 2rem;
		    padding-left: 0.25rem;

		    &.occasion {
		    	border-left: $mdl-amber;
		    }

		    &.task {
		    	border-left: $mdl-blue;
		    }

		    &.task.help {
		    	border-left: $mdl-pink;
		    }
    	}
    	.occasions {

    		h2 {
    			background-color: #FCB258;
    			margin: 0.5rem;
    		}
   		}

    	.tasks {

   			h2 {
   				background-color: #BA77FF;
   				margin: 0.5rem;
   			}
   		}

   		span.legend {
    		display: inline-block;
    		font-size: 0.6rem;
    	}
    }

    .week {

        border-bottom: 1px dotted #ddd;

        &.days-header {
            border-bottom: 1px solid #c4c4c4;
        }

        &:last-child {
            border-bottom: none;
        }

    }

	.day {
	    height: 150px;
	    width: 14.28%;
	    display: inline-block;
	    box-sizing: border-box;
	    position: relative;
	    border-right: 1px dotted #ddd;
	    margin-bottom: -0.25rem;

	    &:last-child {
            border-right: none;
        }

	    &.today {
	    	span.num {
	    		background-color: $mdl-amber;
	    		color: white;
	    	}
	    }

	    &.selected {
	    	span.num {
	    		background-color: $mdl-alt-blue;
	    		color: white;
	    	}
	    }

        &.other-month {
            background-color: #FAFAFA;
        }



	    span.num {
	    	display: inline-block;
	    	width: 1.6rem;
	    	height: 1.3rem;
	    	padding: 0.3rem;
	    	text-align: center;
	    	color: #7C7C7D;
	    	background-color: #F4F4F4;
	    	border-radius: 50%;
	    	font-size: 1.3rem;
	    	position: absolute;
	    	top: 0.5rem;
	    	right: 0.5rem;
	    }

        .holidays {
            top: 3rem;
        }

	    
	    
	}
}





