html body {
    box-sizing: content-box;
}

ol {
    list-style: none;
}
.calendar__header {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.calendar__header__view__nav {

}

.calendar__header__date__nav {
    display: flex;
}

.display__view {
    display: flex;
    flex-direction: row;
    flex-wrap: nowrap;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.week__times__row {
    flex-direction: column;
}

.week__days {
    flex-flow: row nowrap;

}

.week__day__itmes {
    display:inline;
}