
.header {
    height:28px;
    margin-top:20px
}

.header__date__nav {
    width: 100px;
}

.header__date__nav__button {
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
    background:linear-gradient(to top, #cccccc 34%, #dddddd 100%);
    border-radius:3px;
    border:1px solid #dadada;
    cursor:pointer;
    color: #555555;
    height: 28px;
    font-size:13px;
    font-weight:bold;
}
.header__date__nav__button:hover {
}
.header__date__nav__button:active {
    position:relative;
    top:1px;
}

.header__date__nav__today {
    font-size: 13px;
    cursor:pointer;
color:blue;
}

.header__view__nav_button {
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
    background:linear-gradient(to top, #cccccc 34%, #dddddd 100%);
    border-radius:3px;
    border:1px solid #b2b8ad;
    cursor:pointer;
    color: #555555;
    height: 28px;
    font-size:13px;
    font-weight:bold;
}

.header__view__nav_button:hover {
    }
.header__view__nav_button .active {
    position:relative;
    top:1px;
}
