
.header {
    border-bottom: black solid 1px;
}

.header__date__nav__button {
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
     background:#e6e6e6;
    border-radius:3px;
    border:1px solid #b1b0b1;
    cursor:pointer;
    color: #555555;
    height: 30px;
}
.header__date__nav__button:hover {
   background:#bababa;
        border:1px solid #999999;
}
.header__date__nav__button:active {
    background:#bababa;
    border:1px solid #999999;
}

.header__date__nav__today {
    font-size: 13px;
    cursor:pointer;
color:blue;
}

.header__view__nav_button {
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
    background:#e6e6e6;
    border-radius:3px;
    border:1px solid #b1b0b1;
    cursor:pointer;
    color: #555555;
    height: 30px;
}

.header__view__nav_button:hover {
    background: #bababa;
    border: 1px solid #999999;
}
.header__view__nav_button .active {
    background:#bababa;
        border:1px solid #999999;
}
