

html, body {
    box-sizing: border-box;
    font-size: 16px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

ol {
    list-style: none;
    padding:0;
    margin:0;
}

.app {
    display: flex;
    flex-flow: column nowrap;
    width:100%;
}

.header {
    @mixin flex__row__space space-around;
    align-items: center;
    width:100%;
}

.header__display__date {
    width:200px;
}

.header__view__nav {

}

.header__date__nav {
    @mixin flex__row__space space-around;
}

.header__date__nav__today {
    align-self: center;
}

.calendar__display__view {
    @mixin flex__row__space space-around;
    width:100%;
    margin-top:5px;
}


.month {
    display: flex;
    flex-flow: column nowrap;
    justify-content:center;
    width:88%;
}

.month__day__header {
    @mixin flex__row__space space-around;
}

.month__week {
    @mixin flex__row__space center;
    width:100%;
    min-height:100px;
}

.month__day {
    display: flex;
    flex-direction:column;
    width:14.28%
}

.month__day__number {
    align-self:flex-end;
    padding: 3px;
}

.week {
    @mixin flex__row__space center;
    width:100%;
}

.times__column {
    width:8%
}

.week__days {
    display: flex;
    width:80%;

}
.week__day {
    flex-grow:1;
    max-width:180px;
}

.day__items {
    width:80%
}


.day {
    @mixin flex__row__space center;
    width:100%;
}

.task__item {
    display: inline-flex;
    flex-flow: column nowrap;
}