

html, body {
    box-sizing: border-box;
    font-size: 16px;
    width: 1000px;
}
*, *:before, *:after {
    box-sizing: inherit;
}

ol {
    list-style: none;
    padding:0;
    margin:0;
}

.app {
    display: flex;
    flex-flow: column nowrap;
    width:100%;
}

.header {
    display: flex;
    flex-flow: row nowrap;
    justify-content: space-around;
    align-items: center;
    width:100%;
}

.header__view__nav {

}

.header__date__nav {
    display: flex;
    justify-content: space-around;
}

.header__date__nav__today {
    align-self: center;
}

.display__view {
    display: flex;
    width:100%;
    margin-top:5px;
}

.week {
    display: flex;
    justify-content:center;
    width:100%;
}

.times__column {
    width:9%
}

.week__days {
    display: flex;
    width:80%

}
.week__day {
    flex-grow:1;
}

.day__items {
    display: flex;
    width:80%
}

.day__items__slot {
    flex-grow:1;
}

.day {
    display: flex;
    justify-content:center;
    width:100%;
}

