
.task__item {
    margin: 1px;
}

.month__task__item {
    margin: 1px;
}

.month__task__item__title {
    font-size: 10px;
    color: white;
    padding:3px;
    border-radius: 3px;
}

.task__item__display {
    font-size: 10px;
    color: white;
    padding:3px;
    border-top-left-radius: 3px;
    border-top-left-right-radius: 3px;

}

.task__item__title {
    font-size: 10px;
    color: white;
    padding:3px;
    border-bottom-left-radius: 3px;
    border-bottom-left-right-radius: 3px;
}