
.display__view {
}

.week__times__column {
}

.week__days {
}

.week__times__column__item {
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
    background:#e6e6e6;
    border-radius:3px;
    border:1px solid #b1b0b1;
    color: #555555;
}

.week__day__name__item {
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
    background:#e6e6e6;
    border-radius:3px;
    border:1px solid #b1b0b1;
    color: #555555;
}

.week__day__time__slot {
    box-shadow:inset 0px 0px 14px -3px #f2fadc;
    border:1px solid #b1b0b1;
    color: #555555;
}